<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxky.bgxs.dao.AccountDAO">
    <resultMap id="AccountMap" type="com.jxky.bgxs.entity.Account">
        <id property="accountId" column="account_id"></id>
        <result property="accountNum" column="account_num"></result>
        <result property="monthticket" column="monthticket"></result>
        <result property="recomticket" column="recomticket"></result>
        <result property="accountType" column="account_type"></result>
        <result property="accountConsume" column="account_consume"></result>
        <result property="userId" column="user_id" ></result>
    </resultMap>
    <sql id="columns">
        account_id,account_num,monthticket,recomticket,account_type,account_consume,user_id
    </sql>
    <select id="findByUserId" resultMap="AccountMap">
        SELECT
            <include refid="columns"></include>
        FROM account WHERE user_id = #{userId}
    </select>
    <insert id="insert">
        INSERT INTO account
        <trim prefix="(" suffixOverrides=",">
            <if test="accountId !=null">
                account_id,
            </if>
            <if test="accountNum!=null">
                account_num,
            </if>
            <if test="monthticket!=null">
                monthticket,
            </if>
            <if test="recomticket!=null">
                recomticket,
            </if>
            <if test="accountType!=null">
                account_type,
            </if>
            <if test="accountConsume!=null">
                account_consume,
            </if>
            <if test="userId!=null">
                user_id,
            </if>
        </trim>
        <trim prefix=")values(" suffixOverrides="," suffix=")">
            <if test="accountId !=null">
                #{accountId},
            </if>
            <if test="accountNum!=null">
                #{accountNum},
            </if>
            <if test="monthticket!=null">
                #{monthticket},
            </if>
            <if test="recomticket!=null">
                #{recomticket},
            </if>
            <if test="accountType!=null">
                #{accountType},
            </if>
            <if test="accountConsume!=null">
                #{accountConsume},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
        </trim>
    </insert>
    <select id="update">
        UPDATE account
        <set>
            <if test="accountNum != null">
                account_num = #{accountNum},
            </if>
            <if test="accountNum != null">
                monthticket = #{monthticket},
            </if>
            <if test="accountNum != null">
                recomticket = #{recomticket},
            </if>
            <if test="accountNum != null">
                account_type = #{accountType},
            </if>
            <if test="accountNum != null">
                account_consume = #{accountConsume},
            </if>
        </set>
        WHERE account_id = #{accountId}
    </select>
</mapper>




